body{
    background-color: rgb(235, 139, 13);
}
.yo{
    padding: 50px;
    margin: 25px;
    background-color: rgb(23, 78, 228);
    border-radius: 10;
}
.flex{
    display: flex;
    
}

.lado{
    padding-right: 190;
}
.baixo{
    height: 190;
}
.cima{
    padding-top: 190;
}
.inverso{
    background-color: rgb(235, 139, 13);
}
.margem{
    margin-top: 0;
}
