body{
    background-color: rgba(235, 139, 13, 0.884);
}
.yo{
    padding: 50px;
    margin: 20px;
    background-color: rgb(23, 78, 228);
}
.flex{
    display: flex;
}

.lado{
    padding-right: 190;
}
.baixo{
    padding-bottom: 190;
}